<!doctype html>
<html>

<!-- There are lots of leaderboard pages and they are all pretty much the same. For 
comments on the code, take a look at 'leaderboardoverallasc.ejs'. -->
<script>

<%= colorArray = ["#000000", "#00FF00", "#02FC00", "#04FA00", "#06F800", "#09F500", "#0BF300", "#0DF100", "#10EE00", "#12EC00", "#14EA00", "#16E800", "#19E500", "#1BE300", "#1DE100", "#20DE00", "#22DC00", "#24DA00", "#27D700", "#29D500", "#2BD300", "#2DD100", "#30CE00", "#32CC00", "#34CA00", "#37C700", "#39C500", "#3BC300", "#3EC000", "#40BE00", "#42BC00", "#44BA00", "#47B700", "#49B500", "#4BB300", "#4EB000", "#50AE00", "#52AC00", "#55AA00", "#57A700", "#59A500", "#5BA300", "#5EA000", "#609E00", "#629C00", "#659900", "#679700", "#699500", "#6B9300", "#6E9000", "#708E00", "#728C00", "#758900", "#778700", "#798500", "#7C8200", "#7E8000", "#807E00", "#827C00", "#857900", "#877700", "#897500", "#8C7200", "#8E7000", "#906E00", "#936B00", "#956900", "#976700", "#996500", "#9C6200", "#9E6000", "#A05E00", "#A35B00", "#A55900", "#A75700", "#AA5500", "#AC5200", "#AE5000", "#B04E00", "#B34B00", "#B54900", "#B74700", "#BA4400", "#BC4200", "#BE4000", "#C03E00", "#C33B00", "#C53900", "#C73700", "#CA3400", "#CC3200", "#CE3000", "#D12D00", "#D32B00", "#D52900", "#D72700", "#DA2400", "#DC2200", "#DE2000", "#E11D00", "#E31B00", "#E51900", "#E81600", "#EA1400", "#EC1200", "#EE1000", "#F10D00", "#F30B00", "#F50900", "#F80600", "#FA0400", "#FC0200", "#FF0000"] %>

<%= teamColorArray = ["#ff6666", "#66ff66", "#66ccff", "#cc0000", "#00cc00", "#0099cc"] %>

<% results.sort(function(a, b) { %>
<%	return b.kills - a.kills; %>
<% }); %>

<% function findWithAttr(array, attr, value) { %>
	<% for (let j = 0; j < array.length; j++) { %>
		<% if (array[j][attr] === value) { %>
			<% return j; %>
		<% } %>
	<% } %>
	<% return -1; %>
<% } %>

<%var heroColor = 0 %>

<% function selectHeroColor(heroid) { %>
	<%if (heroid <= 20) { %>
		<%= heroColor = 0 %>
	<% } %>
	<%if (heroid >= 21 && heroid <= 38) { %>
		<%= heroColor = 1 %>
	<% } %>
	<%if (heroid >= 39 && heroid <= 58) { %>
		<%= heroColor = 2 %>
	<% } %>
	<%if (heroid >= 59 && heroid <= 74) { %>
		<%= heroColor = 3 %>
	<% } %>
	<%if (heroid >= 75 && heroid <= 91) { %>
		<%= heroColor = 4 %>
	<% } %>
	<%if (heroid >= 92) { %>
		<%= heroColor = 5 %>
	<% } %>
<% } %>

</script>

<head>
<meta charset="utf-8">
<title>Leaders</title>

<link href="leaderboardstyle.css" rel="stylesheet" type="text/css">

</head>

<body>

<table class="headerTable">
<tr>
<td class="headerTableCell">
<a href="https://dota-1.herokuapp.com/sentinel">
<img src="Leaderboard Sentinel Banner Mono.png" width="100%" style="float:left">
</a> 
</td>
<td class="headerTableCell">
<a href="https://dota-1.herokuapp.com/leaderboardoveralltotalsasc">
<img src="Leaderboard Totals Banner.png" width="100%" style="float:left">
</a> 
</td>
<td class="headerTableCell">
<a href="https://dota-1.herokuapp.com/leaderboardoverallasc">
<img src="Leaderboard Ranks Banner Mono.png" width="100%" style="float:left">
</a> 
</td>
<td class="headerTableCell">
<a href="https://dota-1.herokuapp.com/leaderboardoverallpergameasc">
<img src="Leaderboard Per Game Banner Mono.png" width="100%" style="float:left">
</a> 
</td>
<td class="headerTableCell">
<a href="https://dota-1.herokuapp.com/scourge">
<img src="Leaderboard Scourge Banner 2 Mono.png" width="100%" style="float:left">
</a>
</td>
</tr>
</table>

<table class="maintable">
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardidtotalsasc">Hero</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardgamestotalsasc">Games</a>
</th>
<th class="headerActive">
<a href="https://dota-1.herokuapp.com/leaderboardkillstotalsdesc">Kills &#9650;</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboarddeathstotalsasc">Deaths</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardassiststotalsasc">Assists</a>
</th> 
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardcreeptotalsasc">Creep</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardneutraltotalsasc">Neutral</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardkdratiototalsasc">KD Ratio</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardpvpratingtotalsasc">PVP Rating</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardgamescoretotalsasc">Gamescore</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardefficiencytotalsasc">Efficiency</a>
</th>
<th class="headerInactive">
<a href="https://dota-1.herokuapp.com/leaderboardoveralltotalsasc">Overall</a>
</th>
<% for (let i = 0; i < 111; i++) { %>
	<script>
		<%= selectHeroColor(results[i].id) %>
	</script>
		<%if (heroColor === 0) { %>
			<tr style="background-image: linear-gradient(to right, #840000, black)">
		<% } %>
		<%if (heroColor === 1) { %>
			<tr style="background-image: linear-gradient(to right, darkgreen, black)">
		<% } %>
		<%if (heroColor === 2) { %>
			<tr style="background-image: linear-gradient(to right, darkblue, black)">
		<% } %>
		<%if (heroColor === 3) { %>
			<tr style="background-image: linear-gradient(to right, #490000, black)">
		<% } %>
		<%if (heroColor === 4) { %>
			<tr style="background-image: linear-gradient(to right, #003A00, black)">
		<% } %>
		<%if (heroColor === 5) { %>
			<tr style="background-image: linear-gradient(to right, #000037, black)">
		<% } %>
			<td>
		<%if (heroColor <= 2) { %>
				<form method="POST" action="/updatesentinel">
				  <input type="hidden" name="identifier" value=<%= results[i].id%>>
				  <input type="hidden" name="killrank" value=<%= results[i].killrank %>>
				  <input type="hidden" name="deathrank" value=<%= results[i].deathrank %>>
				  <input type="hidden" name="assistrank" value=<%= results[i].assistrank %>>
				  <input type="hidden" name="creeprank" value=<%= results[i].creeprank %>>
				  <input type="hidden" name="neutralrank" value=<%= results[i].neutralrank %>>
				  <input type="hidden" name="kdratiorank" value=<%= results[i].kdratiorank %>>
				  <input type="hidden" name="pvpratingrank" value=<%= results[i].pvpratingrank %>>
				  <input type="hidden" name="gamescorerank" value=<%= results[i].gamescorerank %>>
				  <input type="hidden" name="efficiencyrank" value=<%= results[i].efficiencyrank %>>
				  <input type="hidden" name="overallrank" value=<%= results[i].overallrank %>>
				  <button type="submit" class="updatebutton"><%=  results[i].hero %></button> 
				</form>
		<% } %>
		<%if (heroColor > 2) { %>
				<form method="POST" action="/updatescourge">
				  <input type="hidden" name="identifier" value=<%= results[i].id%>>
				  <input type="hidden" name="killrank" value=<%= results[i].killrank %>>
				  <input type="hidden" name="deathrank" value=<%= results[i].deathrank %>>
				  <input type="hidden" name="assistrank" value=<%= results[i].assistrank %>>
				  <input type="hidden" name="creeprank" value=<%= results[i].creeprank %>>
				  <input type="hidden" name="neutralrank" value=<%= results[i].neutralrank %>>
				  <input type="hidden" name="kdratiorank" value=<%= results[i].kdratiorank %>>
				  <input type="hidden" name="pvpratingrank" value=<%= results[i].pvpratingrank %>>
				  <input type="hidden" name="gamescorerank" value=<%= results[i].gamescorerank %>>
				  <input type="hidden" name="efficiencyrank" value=<%= results[i].efficiencyrank %>>
				  <input type="hidden" name="overallrank" value=<%= results[i].overallrank %>>
				  <button type="submit" class="updatebutton"><%=  results[i].hero %></button> 
				</form>
		<% } %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].gamerank] %>>
				<%= results[i].games %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].killrank] %>>
				<%= results[i].kills %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].deathrank] %>>
				<%= results[i].deaths %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].assistrank] %>>
				<%= results[i].assists %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].creeprank] %>>
				<%= results[i].creep %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].neutralrank] %>>
				<%= results[i].neutral %>
			</td>
						<td style=<%= "color:" + colorArray[results[i].kdratiorank] %>>
				<%if ((results[i].kdratio % 1) > 0) { %>
					<%= results[i].kdratio.toFixed(2) %>
				<% } else { %>
					<%= results[i].kdratio %>
				<% } %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].pvpratingrank] %>>
				<%if ((results[i].pvprating % 1) > 0) { %>
					<%= results[i].pvprating.toFixed(2) %>
				<% } else { %>
					<%= results[i].pvprating %>
				<% } %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].gamescorerank] %>>
				<%if ((results[i].gamescore % 1) > 0) { %>
					<%= results[i].gamescore.toFixed(2) %>
				<% } else { %>
					<%= results[i].gamescore %>
				<% } %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].efficiencyrank] %>>
				<%if ((results[i].efficiency % 1) > 0) { %>
					<%= results[i].efficiency.toFixed(2) %>
				<% } else { %>
					<%= results[i].efficiency %>
				<% } %>
			</td>
			<td style=<%= "color:" + colorArray[results[i].overallrank] %>>
				<%= results[i].overallrank %>
			</td>
		</tr>
<% }; %>


</table>
</body>
</html>
